<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Редактор порльзователя</h1>

<form th:method="POST" th:action="@{/admin/edit}" th:object="${user}">
    <table>
        <input type="hidden" th:field="*{id}" id="id"/>
        <tr><td>
            <label for="name">Укажите имя: </label>
        </td><td>
            <input type="text" th:field="*{fistName}" id="name"/>
            <input type="hidden" th:errors="*{fistName}"/>
        </td></tr>
        <tr><td>
            <label for="lastName">Укажите фамилию: </label>
        </td><td>
            <input type="text" th:field="*{lastName}" id="lastName"/>
            <input type="hidden" th:errors="*{lastName}"/>
        <td></td>

        <tr><td>
            <label for="age">Укажите возраст: </label>
        </td><td>
            <input type="text" th:field="*{age}" id="age"/>
            <input type="hidden" th:errors="*{age}"/>
        </td></tr>

        <tr><td>
            <label for="age">Укажите логин: </label>
        </td><td>
            <input type="text" th:field="*{login}" id="login"/>
            <input type="hidden" th:text="${errorMessage}"/>
            <input type="hidden" th:errors="*{login}"/>
        </td></tr>

        <tr><td>
            <label for="age">Укажите пароль: </label>
        </td><td>
            <input type="password" th:field="*{password}" id="password"/>
            <input type="hidden" th:errors="*{password}"/>
        </td></tr>

        <tr><td>
            <label for="age">Задайте роль: </label>
        </td><td>
            <input type="checkbox" id="roles" th:each="role: ${roles}"
                   th:text="${role.value}"
                   th:value="${role.id}"
                   th:field="*{roles}"/>
        </td></tr>
    </table>
    <input type="submit" value="Применить"/>
</form>
<form method="get" action="/admin">
    <input type="submit" value="Отмена"/>
</form>
</body>
</html>